*/DerivedData
/DerivedData
*DerivedData
*/Build
*Build
/Build

*.xcodeproj
/*.xcodeproj
*.xcuserdatad
*.plist
*.xcbkptlist
*.xcworkspace
*.pbxproj
*.DS_Store
*.app
*.o
*.png
*.jpg
*.d
*.dia
*~
*dgph~
*.build
